.warehouseCardContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .warehouseCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;
      gap: 20px;

      button {
        border-radius: 7px;
      }
    }
  }
}
