@use '../../constants/colors' as *;

.warehouseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.warehouseButtons {
  display: flex;
  gap: 20px;

  button {
    border-radius: 10px;
  }

  button:hover {
    background-color: $BLUE;
    color: $WHITE;
    transition: 0.5s;
  }
}
